<div>
    <h2 id="page-heading">
        <span jhiTranslate="iFisioApp.tablaCliente.clientes">Clientes</span>
    </h2>

    <div class="p-grid vertical-container">
        <div class="p-col p-as-start">
            <div class="box"></div>
        </div>
        <div class="p-col p-as-center">
            <div class="box">
                <span class="p-input-icon-left" style="width: 100%;">
                    <i class="pi pi-search"></i>
                    <input id="input" type="text" pInputText [(ngModel)]="filtro" (keyup)="filtroCliente()"
                        placeholder="{{'iFisioApp.tablaCliente.buscar' | translate}}"
                        style=" padding-left: 25px; width: 100%;">
                </span>
            </div>
        </div>
        <div class="p-col p-as-end">
            <div class="box">
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente"
                    [routerLink]="['/clientes/cliente/new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span jhiTranslate="iFisioApp.cliente.home.createLabel">
                        Create a new Cliente
                    </span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive" id="entities">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="nombre"><span jhiTranslate="iFisioApp.tablaCliente.nombre">Nombre</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="apellidos"><span
                            jhiTranslate="iFisioApp.tablaCliente.apellidos">Apellidos</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="iFisioApp.tablaCliente.companyia">Compañia</span>
                    </th>
                    <th scope="col">
                        <span jhiTranslate="iFisioApp.tablaCliente.activo">
                            Activo
                        </span>
                        <input type="checkbox" [(ngModel)]="estaActivo" (ngModelChange)="filtroActivo()" />
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>
                        <span class="p-tag p-tag-{{cliente.companya?.estilo}}">
                            {{cliente.companya?.nombre}}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let tratamientoClientes of cliente.tratamientoClientes">
                            {{tratamientoClientes?.numSesionesDisfrutadas}}/{{tratamientoClientes?.numSesiones}}
                            <br />
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit" [routerLink]="['/agenda', cliente.id]" class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline"
                                    jhiTranslate="iFisioApp.tablaCliente.citas">Citas</span>
                            </button>

                            <button type="submit" [routerLink]="['/clientes/cliente', cliente.id]"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
            <span jhiTranslate="iFisioApp.cliente.home.notFound">No clientes found</span>
        </div>
    </div>
</div>
