<div>

    <h2 id="jhi-tratamiento-cliente-heading">
        <span jhiTranslate="iFisioApp.tablaCliente.cliente">
            Cliente
        </span>
        <span class="font-bold">
            {{cliente.nombre}} {{cliente.apellidos}}
        </span>
    </h2>

    <p-tabView [(activeIndex)]="tabActive" (onChange)="changeTab()">
        <p-tabPanel header="Datos personales">
            <jhi-cliente-update></jhi-cliente-update>
        </p-tabPanel>
        <p-tabPanel header="Tratamientos" [disabled]="cliente?.id == null">
            <jhi-tratamiento-cliente></jhi-tratamiento-cliente>
        </p-tabPanel>
        <!-- <p-tabPanel header="Mediciones">
            <jhi-medicion></jhi-medicion>
        </p-tabPanel> -->
    </p-tabView>
</div>
